html,body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-size: cover;
    background-color: #6ec6ff;
    /*background-image: url("/image/bg3.jpg");*/
    font-family: "Montserrat", sans-serif;
}
h1{
    text-align: center;
    color: aliceblue;
}
h2{
    text-align: center;
    color: aliceblue;
    background-color:gray;
    padding: 14px 20px;
    margin: 10px 2px;
    margin-bottom: 50px;
    border-radius: 5px;
}
p{
    text-align: center;
    color: black;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
}
.button{
    background-color: tomato;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align:center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 30px 10px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
    -ms-transform: scale(1.05, 1.05);
    transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
    font-family: "Montserrat", sans-serif;
}

.button:hover {
    -webkit-transform: scale(1.05, 1.05);
    -ms-transform: scale(1.05, 1.05);
    transform: scale(1.05, 1.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    font-family: "Montserrat", sans-serif;
}
.button_position{
    text-align: center;
    margin-top: 25px;
}
form {
    width: 600px;
    height: 400px;
    background: #e6e6e6;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    margin: calc(15vh - 220px) auto;
    padding: 40px 60px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    position: relative;
    margin-top: 50px;
}


.button{
    background-color: orange;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align:center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 20px 10px;
    cursor: pointer;
    opacity: 0.9;
    margin-top: 25px;
}
.button:hover{
    opacity: 1;
}
.title {
    background-color: darkgrey;
    color: white;
    padding: 5px;
    font-size: 20px;
    width: 39%;
    text-align:center;
}

