table {
    border:1px solid black;
    border-collapse:collapse ;
    padding:0px;
    width:40%;
    height:80%;
    margin: auto;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}
th {
    padding:10px;
    border:1px solid black;
}
td{
    padding:10px;
    border:1px solid black;
    text-align:center;
}
.gegevens{
    padding:10px;
    border:1px solid black;
    width: 40px;
    text-align: center;

}

tr:nth-child(even){
    background-color:white;
}

tr:nth-child(odd){
    background-color:#e6e6e6;
}


tr {
    text-align: center;
}

div {
    display: block
}

.button {
    border: none;
    color: #fff;
    position: center;
    display: inline-block;
    text-align: center;
    margin: 30px 25px;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    opacity: 0.9;
}
.button_position {
    margin: auto;
}
