<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bedrijven Lijst met hoogste saldo</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/algemeenTabel.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/generalLayout.css}">
</head>
<body>
<div align="center">
    <h1>International Bank of HvA</h1><br>
    <form th:action="@{/bedrijfsgegevens}" method="get" th:object="${rekening}">
        <table>
            <tr>
                <th colspan="4" style="background-color:darkgrey; color:white; padding:1px; font-size:20px">
                    <p>Bedrijfsgegevens</p>
                </th>
            </tr>
            <tr style="background-color:#32A9EE;color:white;font-size: 17px">
                <th>Bedrijfsnaam</th>
                <th>KvKnummer</th>
                <th>BTWnummer</th>
                <th>Sector</th>
            </tr>
            <tr>
                <td style="text-align: center" th:text="${rekening.bedrijfsnaam}"></td>
                <td style="text-align: center" th:text="${rekening.kvkNummer}"></td>
                <td style="text-align: center" th:text="${rekening.btwNummer}"></td>
                <td style="text-align: center" th:text="${rekening.sector}"></td>
            </tr>
        </table>
        <button class="button" name="terug" value="terug" type="button" onclick="history.back()">Terug</button>
    </form>
</div>
</body>
</html>