<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bedrijven Lijst met hoogste saldo</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" th:href="@{css/algemeenTabelVoorLijsten.css}">
</head>
<body>
<nav class="home">
    <div class="icon">
        <a href="/home"><i style="width: 36px;
  font-size: 60px; color: #3e64ff; position: initial;" class="fa fa-home"></i></a>
        <form class="btn btn-login float-right form-loguit">
            <button type="button" class="btn btn-login btn-loguit" onclick="history.back()">Terug</button>
        </form>
    </div>
    <div style=" text-align: center;
    color:#3e64ff;
    margin-top: -45px;
    margin-left: 150px;
    "><h1 style="font-size: 30px; font-weight: bold;">International Bank of HvA</h1></div>
</nav>
<div align="center">
    <form th:object="${bedrijfsLijst}">
        <table>
            <tr>
                <th colspan="4" style="background-color: #e6e6e6; color: #3e64ff; padding:1px; font-size:20px">
                    <p>Top tien bedrijven met hoogste saldo</p>
                </th>
            </tr>
            <tr style="background-color: darkgrey; color:black;font-size: 17px; text-align: center">
                <th>S.nr.</th>
                <th style="text-align: left">Bedrijfsnaam</th>
                <th>Totaal Saldo</th>
            <tr th:each="rekening,iterationStatus: ${bedrijfsLijst}">
                <td style="text-align: center" th:text="${iterationStatus.count}"></td>
            <td><a th:href="@{/bedrijfsgegevens(rekeningId=${rekening.rekeningId})}"
                   th:text="${rekening.bedrijfsnaam}"></a></td>
                <td style="text-align: center"
                     th:text="${#numbers.formatDecimal(rekening.saldo,1,'COMMA', 2,'POINT')}"></td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>
