<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Beheer Rekening Zakelijk</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" th:href="@{css/beheerRekening.css}">
</head>
<body>
<nav class="home">
    <div class="icon">
        <a href="/home"><i style="width: 36px;
            font-size: 60px; color: #3e64ff; position: initial;" class="fa fa-home"></i></a>
        <form class="btn btn-login float-right form-loguit" th:action="@{/logout}" method="get">
            <button type="submit" class="btn btn-login btn-loguit">Loguit</button>
        </form>
    </div>
    <div style=" text-align: center;
    color:#3e64ff;
    margin-top: -45px;
    margin-left: 150px;
    "><h1 style="font-size: 30px; font-weight: bold;">International Bank of HvA</h1></div>
    <!--<div style="text-align: center; margin-left: 150px;"><h1>International Bank of HvA</h1></div>-->
</nav>
<form th:action="@{beheerRekeningZakelijk}" method="get" class="form">
    <div class="table">

        <h2>Beheer Rekening</h2>
        <div class="table">

    <table>
        <div style="font-size: 18px">
        <th>IBAN <span th:text="${rekeningnummer}"></span></th>
        <tr><td>Bedrijf: <span th:text="${bedrijfsnaam}"></span></td></tr>
        <tr th:each="klant: ${rekeninghouders}">
        <td>t.n.v. <span th:text="${klant.voornaam}"></span> <span th:text="${klant.tussenvoegsel}"></span> <span th:text="${klant.achternaam}"></span></span></td>
        </tr>
        </div>
    </table>
        </div>

    <div class="button_position">
    <button class="button" style="background-color: #3e64ff"><a th:href="@{/inzienTransactiesEnSaldo(rekeningNr=${rekeningnummer})}">Transactieoverzicht</a></button>
    <button class="button" style="background-color: #3e64ff" name="submit" formaction="/OvermakenGeld" value="overmakenGeld" type="submit">Geld Overmaken</button>
    <button class="button" style="background-color: #3e64ff"><a th:href="@{/rekeninghouder(rekeningNr=${rekeningnummer})}">Rekeninghouder Toevoegen</a></button>
    <button class="button" style="background-color: #3e64ff" name="submit" formaction="/welkom" value="goToWelcome" type="submit">Naar overzicht</button>
        <button class="button2" style="background-color: #3e64ff" name="terug" value="geldOvermaken" type="button" onclick="history.back()">Terug</button>
    </div>
</form>
</body>
</html>
