<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Beheer Rekening Particulier</title>
    <!--<link rel="stylesheet" type="text/css" th:href="@{css/generalLayout.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/overmakenGeld.css}">-->
    <link rel="stylesheet" type="text/css" th:href="@{css/algemeenLayout.css}">

</head>
    <body>
    <br>
    <h1>International Bank of HvA</h1>
        <form th:action="@{beheerRekening}" method="get">
            <h2>Beheer rekening</h2>
            <div class="table">
                <h3><table>
                    <tr>
                        <td>IBAN <span th:text="${rekeningnummer}"></span></td>
                        <td>t.n.v. <span th:text="${voornaam}"></span> <span th:text="${tussenvoegsel}"></span> <span th:text="${achternaam}"></span></span></td>
                    </tr>
                </table></h3>
            </div>
<div class="button_position">
    <button class="button" style="background-color: #28a745"><a th:href="@{/inzienTransactiesEnSaldo(rekeningNr=${rekeningnummer})}">TRANSACTIEOVERZICHT</a></button>
    <button class="button" style="background-color: #28a745"><a th:href="@{/overmakenGeld(rekeningNr=${rekeningnummer})}">GELD OVERMAKEN</a></button>
    <br>

    <button class="button" style="background-color: #28a745"><a th:href="@{/rekeninghouder(rekeningNr=${rekeningnummer})}">REKENINGHOUDER TOEVOEGEN</a></button>
    <button class="button" style="background-color: orange" name="submit" formaction="/welkom" value="goToWelcome" type="submit">NAAR OVERZICHT</button>
</div>
        </form>
    </body>
</html>