<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>International Bank of HvA</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/first.css}">
</head>
<body>
<a href="/home" style="text-decoration: none;" >
<img src="https://ronagpur.in/subdomain/bankguarantee/adminTemplate/admin/assets/demo/signin-bg-1.jpeg" alt="" class="image">
<div class="text">
    <div>
        <p>International<br>Bank of HvA</p>
    </div>

</div>
</a>

</body>
</html>