<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home page</title>
 <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}">
</head>

<body>
<header class="header">
    <h2 class="logo">Int Bank of HvA</h2>
    <ul class="main-nav">
        <li><a href="/mlogin">Medewerker</a></li>
        <li><a href="/plogin">Klant</a></li>
        <li><a href="/nieuwe_klant">Nieuwe Klant</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">About</a></li>
    </ul>
</header>
<h1 style="text-align: center; margin-top: 300px; color: white">International Bank of HvA</h1>
</body>
</html>