<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" th:href="@{css/hoofdParticulier.css}">
    <title>Hoofd Particulier</title>
</head>
<body>
<nav class="home">
    <div class="icon">
        <a href="/home"><i style="width: 36px;
  font-size: 60px; color: #3e64ff; position: initial;" class="fa fa-home"></i></a>
        <form style=" position: initial; margin-right: 15px; padding-top: 3px;" class="btn btn-login float-right" th:action="@{/logoutMdw}"
              method="post">
            <button type="submit" class="btn btn-login">Loguit</button>
        </form>
    </div>
    <div style=" text-align: center;
    color:#3e64ff;
    margin-top: -45px;
    margin-left: 150px;
    "><h1 style="font-size: 30px; font-weight: bold;">International Bank of HvA</h1></div>
</nav>
<form class="form">
    <h2> Afdeling: Particulier Rekening </h2><br><br>
    <div style="text-align: center; color: aliceblue">
        <p><a class="menu" href="/hoofdParticulierenHoogsteSaldo">Lijst van 10 particulier klanten met hoogste saldo</a></p>
    </div>
</form>
</body>
</html>