<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hoofd Particulier</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/algemeenLayout.css}">
</head>
<body>
    <h1> International Bank of HvA</h1>
        <form>
            <h2> Afdeling: Particulier Rekening </h2>
            <div style="text-align: center; color: aliceblue">
                <p><a class="menu" href="/hoofdParticulierenHoogsteSaldo">Top 10 Particulier Klanten met Hoogste Saldo</a></p>
            </div>
            <div class="button_position">
                <button class="button" name="terug" value="terug" type="button" onclick="history.back()">Uitloggen</button>
            </div>
        </form>
</body>
</html>