<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Medewerker Login</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/login.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/generalLayout.css}">
</head>

<body>
<nav>
    <div>
        <a href="/home"><i style="width: 36px;
  font-size: 60px; color: #3e64ff; position: initial;" class="fa fa-home"></i></a>
    </div>
    <div style="text-align: center;"><h1 style="color:#3e64ff;">International Bank of HvA</h1></div>
</nav>
<section class="login-block">

    <div class="container" style="height: 500px;">
        <div class="row ">
            <div class="col login-sec">
                <h2 class="text-center">Login</h2>
                <form class="login-form" th:action="@{/medewerkerInloggen}" method="post">
                    <div class="form-group">
                        <label class="text">Gebruikersnaam</label>
                        <input id="username" type="text" name="gebruikersnaam" class="form-control"
                               placeholder="Gebruikersnaam">

                    </div>
                    <div class="form-group">
                        <label class="text">Wachtwoord</label>
                        <input id="password" type="password" name="wachtwoord" class="form-control"
                               placeholder="Wachtwoord">
                    </div>


                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input">
                            <small>Onthoud mij</small>
                        </label>
                        <button id="error" type="submit" class="btn btn-login float-right">Submit</button>
                    </div>
                    <div id="message" style="margin: 35px 25px 0px 30px; width: 87%; text-align: center;">
                        <span th:utext="${message}"></span>
                    </div>
                    <div id="melding"
                         style="margin: 5px 25px 0px 30px; width: 87%; text-align: center; visibility: hidden">
                        <span style="color: #0069c0; font-size: 17px;">
                            <i class="fa fa-exclamation-circle" style="color: red;" aria-hidden="true"></i>
                            Vul uw ebruikersnaam en wachtwoord in.
                        </span>
                    </div>
                </form>

            </div>
        </div>
    </div>
    </div>

    </div>
</section>
</body>
<script type="text/javascript">
    $(function () {
        $("#error").on("click", function () {
            var userName = document.getElementById("username").value;
            var password = document.getElementById("password").value;

            if (userName == "" || password == "") {
                document.getElementById("melding").style.visibility = "visible";
                return false;
            } else {
                return true;
            }
        });
    })
</script>
</html>