<!DOCTYPE html>
<html lang="en" xmlns:="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" th:href="@{css/openenRekening.css}">
    <title>Zakelijk Rekening Openen</title>
</head>
<body>
<nav class="home">
    <div class="icon">
        <a href="/home"><i style="width: 36px;
  font-size: 60px; color: #3e64ff; position: initial;" class="fa fa-home"></i></a>
        <form style=" position: initial; margin-right: 15px; padding-top: 3px;" class="btn btn-login float-right" th:action="@{/logout}"
              method="get">
            <button type="submit" class="btn btn-login">Loguit</button>
        </form>
    </div>
    <div style=" text-align: center;
    color:#3e64ff;
    margin-top: -45px;
    margin-left: 150px;
    "><h1 style="font-size: 30px; font-weight: bold;">International Bank of HvA</h1></div>
</nav>
<form class="form" th:action="@{opslaan_rekening_zakelijk}" method="post" th:object="${rekening}">
    <h2> Zakelijke rekening openen </h2>
    <p style="color: #3e64ff; font-weight: bold"> <span th:text="${klant.voornaam} + ' ' + ${klant.achternaam}"></span></p>
    <p> Vul de gegevens over uw bedrijf in: </p>
    <table style="color: gray">
        <tr>
            <td class="fieldName"><label for="bedrijfsnaam">Bedrijfsnaam:*</label></td>
            <td><input id="bedrijfsnaam" type="text" th:field="*{bedrijfsnaam}" required></td>
        </tr>
        <tr>
            <td class="fieldName"><label for="kvkNummer">KVK Nummer:*</label></td>
            <td><input id="kvkNummer" type="text" th:field="*{kvkNummer}" pattern="[0-9]{8,8}" minlength="8" maxlength="8" placeholder="12345678" required></td>
        </tr>
        <tr>
            <td class="fieldName"><label for="btwNummer">BTW Nummer:*</label></td>
            <td><input id="btwNummer" type="text" th:field="*{btwNummer}" pattern="[a-zA-Z0-9]*" minlength="12" maxlength="12" placeholder="123456789B12" required></td>
        </tr>
        <tr>
            <td class="fieldName"><label for="sector">Sector:*</label></td>
            <td><select id="sector"  th:field="*{sector}">
                <option value="Automotive">Automotive</option>
                <option value="Baby">Baby</option>
                <option value="Beauty">Beauty</option>
                <option value="Books">Books</option>
                <option value="Clothing">Clothing</option>
                <option value="Computers">Computers</option>
                <option value="Electronics">Electronics</option>
                <option value="Games">Games</option>
                <option value="Garden">Garden</option>
                <option value="Grocery">Grocery</option>
                <option value="Health">Health</option>
                <option value="Home">Home</option>
                <option value="Industrial">Industrial</option>
                <option value="Jewelry">Jewelry</option>
                <option value="Kids">Kids</option>
                <option value="Movies">Movies</option>
                <option value="Music">Music</option>
                <option value="Outdoors">Outdoors</option>
                <option value="Shoes">Shoes</option>
                <option value="Sports">Sports</option>
                <option value="Tools">Tools</option>
                <option value="Toys">Toys</option></select></td>
        </tr>
    </table><br>
    <button class="button" name="submit" style="background-color: #3e64ff" type="submit">Aanvraag Sturen</button>
    <button class="button" name="terug" style="background-color: #3e64ff" value="goToPrevious" type="button" onclick="history.back()">Terug</button>
</form>
</body>
</html>