<!DOCTYPE html>
<html lang="en" xmlns:="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" type="text/css" th:href="@{css/openenRekening.css}">
    <title>Rekening Openen Bevestiging</title>
</head>
<body>
<nav class="home">
    <div class="icon">
        <a href="/home"><i style="width: 36px;
  font-size: 60px; color: #3e64ff; position: initial;" class="fa fa-home"></i></a>
        <form style=" position: initial; margin-right: 15px; padding-top: 3px;" class="btn btn-login float-right" th:action="@{/logout}"
              method="get">
            <button type="submit" class="btn btn-login">Loguit</button>
        </form>
    </div>
    <div style=" text-align: center;
    color:#3e64ff;
    margin-top: -45px;
    margin-left: 150px;

    "><h1 style="font-weight: bold; font-size: 30px;">International Bank of HvA</h1></div>
</nav>
<form class="form" style="width: 700px;">
    <h2> Bevestiging van uw nieuwe rekening </h2>
    <p style="color: #3e64ff; font-weight: bold"> <span th:text="${klant.voornaam} + ' ' + ${klant.achternaam}"></span></p>
    <p> Het openen van uw rekening is gelukt. </p>
    <p> Uw rekening nummer is: </p>
    <table class="display">
        <tr>
            <td>IBAN:
                <label><span th:text="${rekeningnummer}"></span></label>
            </td>
        </tr>
        <tr>
            <td>Saldo: €
                <label><span th:text="${#numbers.formatDecimal(saldo, 1, 'COMMA', 2, 'POINT')}"></span></label>
            </td>
        </tr>
    </table><br>
    <button class="button" name="submit" style="background-color: #3e64ff" formaction="/welkom" value="goToWelcome" type="submit">Naar Overzicht</button>
</form>
</body>
</html>