<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Overmaken Geld</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/overmakenGeld.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/generalLayout.css}">
    <script type="application/javascript" th:src ="@{js/overmakenGeld.js}"></script>
</head>
<br></br>
<h1>Vul de benodigde gegevens in om geld over te maken</h1>
<h3>Uw saldo is: <span th:text="${saldo}"></span></h3>

    <div style = "text-align: center">
    <form th:action="@{geldTransactie}" method="post" th:object="${geldTransactieBean}">

        <label>Naar welk rekeningnummer u wilt overmaken:</label><br>
        <label> <input name="rekeningnummer" th:field="*{rekeningNrCredit}" maxlength="18" pattern="NL35IBVH[1-2]{1}[0-9]{9}"
            oninvalid="valid_rekeningnummer(this)" oninput="this.setCustomValidity('')" placeholder="NL35IBVH1234567890" required> </label><br>

        <label>Welk bedrag wilt u overmaken:</label><br>
        <label> <input name="bedrag" th:field="*{transactieBedrag}" pattern="^\d+(?:,\d{3})*\.\d{2}$"
                       oninvalid="valid_amount(this)" oninput="this.setCustomValidity('')" required></label><br>

        <label>U kunt eventueel een bericht schrijven van max. 150 karakters:</label><br>
        <label> <input style="row-gap: inherit" name="bericht" th:field="*{beschrijving}" pattern="[A-Za-z0-9]{1,150}" ></label><br><br>


    <div class="button_position">
        <button class="button" style="background-color: #28a745"
                name="submit" formaction="/geldTransactie" value="verder"
                type="submit">Geld overmaken bevestigen</button>

        <button class="button" style="background-color: orange"
            name="terug" value="goToWelcome" type="button"
            onclick="history.back()">Terug</button>

        <button class="button" style="background-color: tomato"
            name="uitloggen" formaction="/home" value="logout"
            type="submit">Uitloggen</button>
    </div>
    </form>
    </div>
</body>
</html>