<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Geen rekeningen gevonden</title>
    <!--<link rel="stylesheet" type="text/css" th:href="@{css/generalLayout.css}">-->
    <link rel="stylesheet" type="text/css" th:href="@{css/algemeenLayout.css}">
</head>
<body>
<br>
<h1>International Bank of HvA</h1>
<br></br>
<form>
<h2>Er zijn geen rekeningen gevonden.</h2>
<br><br>

<button class="button" style="background-color: orange" name="terug" value="geldOvermaken" type="button"
        onclick="history.back()">Terug</button>
</form>
</body>
</html>