<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Password Reset</title>
    <title>Forgot Password</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Overview Users</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/generalLayout.css}">
</head>
<body>
<div  style="margin-top: 150px; text-align: center;">
    <span th:text="${message}" style="font-size: 34px;color: black;"></span>
</div>
</body>
</html>